*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{

    margin: 10px 0;
}

.container{

    margin: 80px auto;
    max-width: 640px;
}

input, textarea, button{
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;

}

button {
    background-color: #2ecc71;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}

.mensagemSucesso{

    background-color: #27ae60;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    display: none;
}

.mensagemError{

    background-color: #f1160f;
    color: white;
    padding: 5px;
    font-size: 1.1rem;
    margin-bottom: 10px;
    display: none;
    
    
    
}

.Error{
    border: 1px solid red;
    outline: 1px solid red;
    color: red;
}

label{
    font-size: 0.6rem;
    color: gray;
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
    text-transform: uppercase;
    font-family: arial;
}